.btn, .btn:active, .btn:focus {
	background-color: #2ebd59 !important; 
	border-color: #2ebd59 !important;
	color: #fff !important;
}

.btn:hover {
	background-color: #1ed760 !important;
	border-color: #1ed760 !important;
	color: #fff;
}

#slide-out {
    background-color: #828282;
}

.rect.highcharts-background {
	fill: #000;
}

.card-content {
	background-color: #ecebe8;
	border-color: #ecebe8;
	color: #000;
}

html {
	background-color: #828282;
}

#uri_gif>img {
	margin: auto;
	width: 100%;
}

.datepicker {
    display:none !important;
}


#shiny-material-dropdown-country_select > label, #shiny-material-dropdown-dates > label {
    color:black;
    font-size: 20px;
    font-weight: bold;
}

#shiny-material-dropdown-country_select > div > input,
#shiny-material-dropdown-dates > div > input{
    padding-top: 10px;
    font-size: 18px;
}

#DataTables_Table_0 > tbody > tr,
#DataTables_Table_1 > tbody > tr {
    background-color:transparent;
    font-size:18px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 70px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #2ebd59;
    color: #fff;
    text-align: center;
    padding: 5px 0;
 
    /* Position the tooltip text - see examples below! */
    
    
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}