.btn, .btn:active, .btn:focus {
	background-color: #2ebd59; 
	border-color: #2ebd59;
	color: #fff;
}

.btn:hover {
	background-color: #1ed760;
	border-color: #1ed760;
	color: white;
}

.card-content {
	background-color: white;
	border-color: white;
	color: black;
}

html {
	background-color: #828282;
}

#shiny-material-dropdown-region > label, #shiny-material-dropdown-dates > label {
    color:black;
    font-size: 20px;
    font-weight: bold;
}

#shiny-material-dropdown-region > div > input,
#shiny-material-dropdown-dates > div > input{
    padding-top: 10px;
    font-size: 18px;
}
